/*!
Theme Name: Olympus
Theme URI: http://underscores.me/
Author: Sparkle Themes
Author URI: https://sparklewpthemes.com/
Description: a responsive lawyer theme
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: olympus
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Olympus is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

* {
	padding: 0;
	margin: 0;
	box-sizing: inherit; }
  
  html {
	font-size: 16px;
	font-family: "Mulish", sans-serif; }
	@media (min-width: 1400.6px) {
	  html {
		font-size: 18px; } }
	@media (max-width: 768.5px) {
	  html {
		font-size: 15px; } }
	@media (max-width: 576.5px) {
	  html {
		font-size: 14px; } }
  
  body {
	box-sizing: border-box;
	font-family: "DM Sans", sans-serif;
	background-color: #fff;
	color: #000;
	overflow-x: hidden; }
  
  .d-inline-block {
	display: inline-block; }
  
  .d-block {
	display: block; }
  
  .d-flex {
	display: flex; }
	@media (min-width: 768.6px) {
	  .d-flex--tb-u {
		display: flex; } }
	@media (max-width: 992.5px) {
	  .d-flex--lp {
		display: flex; } }
  
  .d-inline-flex {
	display: inline-flex; }
	@media (max-width: 768.5px) {
	  .d-inline-flex--tb {
		display: inline-flex; } }
  
  .align-center {
	align-items: center; }
  
  .align-top {
	align-items: flex-start; }
  
  .flex-auto {
	flex: 1 1 auto; }
  
  .justify-evenly {
	justify-content: space-evenly; }
	@media (max-width: 992.5px) {
	  .justify-evenly--lp {
		justify-content: space-evenly; } }
  
  .justify-between {
	justify-content: space-between; }
  
  .justify-center {
	justify-content: center; }
	@media (max-width: 576px) {
	  .justify-center--mob {
		justify-content: center; } }
  
  .flex-b-33 {
	flex-basis: 33rem; }
  
  .flex-b-20 {
	flex-basis: 20rem; }
  
  .flex-b-22 {
	flex-basis: 22rem; }
  
  @media (min-width: 992.6px) {
	.flex-b-16r--lp-u {
	  flex-basis: 16rem; } }
  
  .flex-b-48 {
	flex-basis: 48%; }
	@media (min-width: 567.6px) {
	  .flex-b-48--mob-u {
		flex-basis: 48%; } }
  
  .flex-b-49 {
	flex-basis: 49%; }
	@media (max-width: 768.5px) {
	  .flex-b-49--tb {
		flex-basis: 49%; } }
	@media (min-width: 567.6px) {
	  .flex-b-49--mob-u {
		flex-basis: 49%; } }
  
  .flex-b-672 {
	flex-basis: 50rem; }
  
  .flex-b-45 {
	flex-basis: 45%; }
	@media (min-width: 576.6px) {
	  .flex-b-45--mob-u {
		flex-basis: 45%; } }
	@media (max-width: 768.5px) {
	  .flex-b-45--tb {
		flex-basis: 45%; } }
  
  .flex-b-30 {
	flex-basis: 30%; }
	@media (max-width: 992.5px) {
	  .flex-b-30--lp {
		flex-basis: 30%; } }
	@media (min-width: 992.6px) {
	  .flex-b-30--lp-u {
		flex-basis: 30%; } }
	@media (min-width: 768.6px) {
	  .flex-b-30--tb-u {
		flex-basis: 30%; } }
  
  .flex-b-32 {
	flex-basis: 32%; }
	@media (min-width: 768.6px) {
	  .flex-b-32--tb-u {
		flex-basis: 32%; } }
  
  .flex-b-100 {
	flex-basis: 100%; }
	@media (max-width: 1200.5px) {
	  .flex-b-100--xl {
		flex-basis: 100%; } }
	@media (max-width: 992.5px) {
	  .flex-b-100--lp {
		flex-basis: 100%; } }
	@media (max-width: 768.5px) {
	  .flex-b-100--tb {
		flex-basis: 100%; } }
	@media (max-width: 576.5px) {
	  .flex-b-100--mob {
		flex-basis: 100%; } }
  
  .flex-wrap {
	flex-wrap: wrap; }
	@media (max-width: 992.5px) {
	  .flex-wrap--lp {
		flex-wrap: wrap; } }
	@media (max-width: 768.5px) {
	  .flex-wrap--tb {
		flex-wrap: wrap; } }
	@media (max-width: 576.5px) {
	  .flex-wrap--mob {
		flex-wrap: wrap; } }
  
  .flex-auto {
	flex-basis: auto; }
  
  .flex-grow-0 {
	flex-grow: 0; }
	@media (min-width: 992.6px) {
	  .flex-grow-0--lp-u {
		flex-grow: 0; } }
  
  .flex-shrink-0 {
	flex-shrink: 0; }
	@media (min-width: 576.6px) {
	  .flex-shrink-0--mob-u {
		flex-shrink: 0; } }
	@media (min-width: 768.6px) {
	  .flex-shrink-0--tb-u {
		flex-shrink: 0; } }
	@media (min-width: 992.6px) {
	  .flex-shrink-0--lp-u {
		flex-shrink: 0; } }
  
  .flex-grow {
	flex-grow: 1; }
	@media (max-width: 768.5px) {
	  .flex-grow--tb {
		flex-grow: 1; } }
	@media (max-width: 992.5px) {
	  .flex-grow--lp {
		flex-grow: 1; } }
	@media (min-width: 992.6px) {
	  .flex-grow--lp-u {
		flex-grow: 1; } }
  
  .flex-shrink {
	flex-shrink: 1; }
	@media (max-width: 992.5px) {
	  .flex-shrink--lp {
		flex-shrink: 1; } }
  
  @media (max-width: 992.5px) {
	.order-1--lp {
	  order: 1; } }
  
  @media (max-width: 992.5px) {
	.order-2--lp {
	  order: 2; } }
  
  .flex-column {
	flex-direction: column; }
  
  .grid {
	width: calc(100% - 18rem); }
  
  .grid-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: inherit; }
  
  .grid-item {
	height: 15rem; }
  
  .p-sm {
	padding: 1rem; }
  
  .p-1 {
	padding: 1.5rem; }
	@media (min-width: 992.6px) {
	  .p-1--lp-u {
		padding-left: 1.5rem; } }
  
  .pl-1 {
	padding-left: 1rem; }
  
  .pl-2 {
	padding-left: 2rem; }
  
  .pl-4 {
	padding-left: 4rem; }
  
  .p-2 {
	padding: 2rem; }
	@media (max-width: 992px) {
	  .p-2--lp {
		padding: 2rem; } }
  
  @media (min-width: 992.6px) {
	.p-4--lp-u {
	  padding: 4rem; } }
  
  @media (min-width: 992.6px) {
	.p-5--lp-u {
	  padding: 5rem; } }
  
  .pt-md {
	padding-top: 2.5rem; }
  
  .pt-10 {
	padding-top: 10rem; }
  
  .pl-md {
	padding-left: 2.4rem; }
  
  .pl-md-1 {
	padding-left: 3.5rem; }
  
  .p-xm {
	padding: 0.7rem; }
  
  .p-txm {
	padding: 0.4rem; }
  
  .px-md {
	padding-left: 1.5rem;
	padding-right: 1.5rem; }
  
  .px-xl {
	padding-left: 7rem;
	padding-right: 7rem; }
  
  .px-xm {
	padding-left: 0.7rem;
	padding-right: 0.7rem; }
  
  .px-sm {
	padding-left: 2rem;
	padding-right: 2rem; }
  
  .px-lg {
	padding-left: 4rem;
	padding-right: 4rem; }
	@media (min-width: 768.6px) {
	  .px-lg--tb-u {
		padding-left: 4rem;
		padding-right: 4rem; } }
  
  .py-md {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem; }
  
  .py-lg {
	padding-top: 3.5rem;
	padding-bottom: 3.5rem; }
	@media (max-width: 992.5px) {
	  .py-lg--lp {
		padding-top: 3.5rem;
		padding-bottom: 3.5rem; } }
  
  .py-xm {
	padding-top: 1.3rem;
	padding-bottom: 1.3rem; }
  
  .p-md {
	padding: 3rem; }
  
  .p-lg {
	padding: 4rem; }
	@media (min-width: 768.6px) {
	  .p-lg--tb-u {
		padding: 4rem; } }
  
  .pl-lg {
	padding-left: 7rem; }
  
  .pr-sm {
	padding-right: 1.7rem; }
	.pr-sm-2 {
	  padding-right: 2.7rem; }
  
  .pr-md {
	padding-right: 3rem; }
  
  .pr-4 {
	padding-right: 4rem; }
  
  .pr-lg {
	padding-right: 7rem; }
  
  .pr-12 {
	padding-right: 12rem; }
	@media (min-width: 992.6px) {
	  .pr-12--lp-u {
		padding-right: 12rem; } }
  
  @media (min-width: 992.6px) {
	.pr-20--lp-u {
	  padding-right: 20rem; } }
  
  .py-1 {
	padding-top: 1rem;
	padding-bottom: 1rem; }
  
  .py-2 {
	padding-top: 2rem;
	padding-bottom: 2rem; }
  
  .py-5 {
	padding-top: 5rem;
	padding-bottom: 5rem; }
  
  .py-7 {
	padding-top: 7rem;
	padding-bottom: 7rem; }
  
  .py-8 {
	padding-top: 8rem;
	padding-bottom: 8rem; }
  
  .py-14 {
	padding-top: 14rem;
	padding-bottom: 14rem; }
  
  .pb-5 {
	padding-bottom: 5rem; }
  
  .pb-14 {
	padding-bottom: 14rem; }
	@media (min-width: 768.6px) {
	  .pb-14--tb-u {
		padding-bottom: 14rem; } }
	@media (min-width: 576.6px) {
	  .pb-14--mob-u {
		padding-bottom: 14rem; } }
  
  .pb-7 {
	padding-bottom: 7rem; }
  
  .bullet-img {
	height: 2rem;
	width: 2rem; }
  
  @media (max-width: 992.5px) {
	.word-break--lp {
	  word-break: break-all; } }
  
  .text-center {
	text-align: center; }
	@media (max-width: 992px) {
	  .text-center--lp {
		text-align: center; } }
	@media (max-width: 768px) {
	  .text-center--tb {
		text-align: center; } }
	@media (min-width: 768.6px) {
	  .text-center--tb-u {
		text-align: center; } }
	@media (max-width: 576.5px) {
	  .text-center--mob {
		text-align: center; } }
  
  .text-right {
	text-align: right; }
  
  .ml {
	margin-left: auto; }
	.ml-1 {
	  margin-left: 1rem; }
	.ml-3 {
	  margin-left: 3rem; }
	  @media (min-width: 992px) {
		.ml-3--lp-u {
		  margin-left: 3rem; } }
	.ml-sm {
	  margin-left: 0.5rem; }
	.ml-auto {
	  margin-left: auto; }
	  @media (min-width: 576.6px) {
		.ml-auto--mob-u {
		  margin-left: auto; } }
  
  .mr-xm {
	margin-right: 0.5rem; }
  
  .mr-1 {
	margin-right: 1rem; }
	@media (min-width: 567.6px) {
	  .mr-1--mob-u {
		margin-right: 1rem; } }
  
  .mr-2, .menu-item {
	margin-right: 1.5rem; }
	@media (min-width: 576.6px) {
	  .mr-2--mob-u {
		margin-right: 1.5rem; } }
	@media (min-width: 768.6px) {
	  .mr-2--tb-u {
		margin-right: 1.5rem; } }
	@media (min-width: 992.6px) {
	  .mr-2--lp-u {
		margin-right: 1.5rem; } }
	@media (min-width: 1200.6px) {
	  .mr-2--xl-u {
		margin-right: 1.5rem; } }
  
  .mr-3 {
	margin-right: 3rem; }
	@media (min-width: 576.6px) {
	  .mr-3--mob-u {
		margin-right: 3rem; } }
	@media (min-width: 992px) {
	  .mr-3--lp-u {
		margin-right: 3rem; } }
	@media (min-width: 768.6px) {
	  .mr-3--tb-u {
		margin-right: 3rem; } }
	@media (min-width: 1200.6px) {
	  .mr-3--xl-u {
		margin-right: 3rem; } }
  
  .mb-xm {
	margin-bottom: 0.5rem; }
  
  .mb-sm {
	margin-bottom: 1rem; }
	@media (max-width: 992.5px) {
	  .mb-sm--lp {
		margin-bottom: 1rem; } }
	@media (max-width: 576.5px) {
	  .mb-sm--mob {
		margin-bottom: 1rem; } }
  
  .mb-md {
	margin-bottom: 1.5rem; }
	@media (max-width: 992.5px) {
	  .mb-md--lp {
		margin-bottom: 1.5rem; } }
	@media (max-width: 1200.5px) {
	  .mb-md--xl {
		margin-bottom: 1.5rem; } }
	@media (max-width: 768.5px) {
	  .mb-md--tb {
		margin-bottom: 1.5rem; } }
	@media (max-width: 576.5px) {
	  .mb-md--mob {
		margin-bottom: 1.5rem; } }
  
  .mb-lg {
	margin-bottom: 3rem; }
	@media (max-width: 992.5px) {
	  .mb-lg--lp {
		margin-bottom: 3rem; } }
	@media (max-width: 576.5px) {
	  .mb-lg--mob {
		margin-bottom: 3rem; } }
	@media (max-width: 768.5px) {
	  .mb-lg--tb {
		margin-bottom: 3rem; } }
  
  .mb-xl {
	margin-bottom: 5rem; }
  
  .mx-auto {
	margin-left: auto;
	margin-right: auto; }
	@media (max-width: 992px) {
	  .mx-auto--lp {
		margin-left: auto;
		margin-right: auto; } }
	@media (max-width: 768px) {
	  .mx-auto--tb {
		margin-left: auto;
		margin-right: auto; } }
	@media (max-width: 576px) {
	  .mx-auto--mob {
		margin-left: auto;
		margin-right: auto; } }
  
  .mx-1 {
	margin-left: 1rem;
	margin-right: 1rem; }
  
  .mt-xm {
	margin-top: 0.5rem; }
  
  .mt-sm {
	margin-top: 1rem; }
  
  .mt-6 {
	margin-top: 6rem; }
  
  .c-offwhite {
	color: rgba(255, 255, 255, 0.65); }
  
  .c-orange {
	color: #e1a122; }
	.c-orange-states:hover {
	  color: #e1a122; }
  
  .c-black, .menu-item>a {
	color: #000; }
  
  .c-offblack {
	color: rgba(0, 0, 0, 0.65); }
  
  .c-white {
	color: #fff; }
  
  .v-hidden {
	visibility: hidden; }
  
  .v-visible {
	visibility: visible; }
  
  .ls-none {
	list-style-type: none; }
  
  .p-link, .menu-item>a {
	text-decoration: none; }
  
  .bg-primary {
	background-color: #163967; }
  
  .bg-primary-1 {
	background-color: rgba(22, 57, 103, 0.65); }
  
  .bg-primary-2 {
	background-color: #29395b; }
  
  .bg-primary-3 {
	background-color: rgba(23, 36, 66, 0.95); }
  
  .bg-primary-4 {
	background-color: rgba(0, 0, 0, 0.65); }
  
  .bg-secondary {
	background-color: #e1a122; }
	.bg-secondary-states:hover {
	  background-color: #e1a122;
	  color: #fff; }
	.bg-secondary-states-2:hover {
	  background-color: #cf8f16; }
	.bg-secondary-states-3:hover {
	  background-color: #e1a122;
	  color: white; }
	  .bg-secondary-states-3:hover p {
		color: rgba(255, 255, 255, 0.65); }
	  .bg-secondary-states-3:hover svg {
		color: white; }
	.bg-secondary-states-4 {
	  transition: 0.15s all linear; }
	  .bg-secondary-states-4:hover {
		background-color: #e1a122;
		color: #fff; }
		.bg-secondary-states-4:hover .underline:after {
		  background-color: white; }
		.bg-secondary-states-4:hover .tester-orange:before {
		  background-color: #163967; }
		.bg-secondary-states-4:hover p {
		  color: rgba(255, 255, 255, 0.65); }
	.bg-secondary-states-5 {
	  transition: 0.15s all linear; }
	  .bg-secondary-states-5:hover {
		background-color: #e1a122;
		color: #fff; }
		.bg-secondary-states-5:hover svg {
		  color: #fff; }
		.bg-secondary-states-5:hover .underline:after {
		  background-color: white; }
		.bg-secondary-states-5:hover .tester-orange:before {
		  background-color: #163967; }
		.bg-secondary-states-5:hover p {
		  color: rgba(255, 255, 255, 0.65); }
	.bg-secondary-gradient {
	  background-image: linear-gradient(to right, #e1a122, transparent); }
  
  .bg-white {
	background-color: #fff; }
  
  .bg-offwhite {
	background-color: rgba(32, 47, 78, 0.02); }
  
  .bg-transparent {
	background: transparent; }
  
  .bg-contact-before:before {
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	background-color: rgba(32, 47, 78, 0.02);
	transform: scale(1.2, 1.5) translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1; }
  
  .f-mulish, .menu-item>a {
	font-family: "Mulish", sans-serif; }
  
  .f-inherit {
	font-family: inherit; }
  
  .f-tertiary {
	font-family: "Great Vibes", cursive; }
  
  .fs-xm {
	font-size: 0.8125rem; }
  
  .fs-sm {
	font-size: 0.875rem; }
  
  .fs-md {
	font-size: 1.125rem; }
  
  .fs-md-1 {
	font-size: 1.25rem; }
  
  .fs-lg {
	font-size: 6.875rem; }
  
  .h1 {
	font-size: 3.125rem; }
  
  .h1-lg {
	font-size: 4rem; }
  
  .h2 {
	font-size: 2.5rem; }
	.h2-off {
	  left: -5rem; }
	  @media (min-width: 992.6px) {
		.h2-off--lp-u {
		  left: -5rem; } }
	.h2-about {
	  top: 2rem; }
	  @media (min-width: 576px) {
		.h2-about--mob-u {
		  top: 2rem; } }
  
  .h3 {
	font-size: 1.5625rem; }
  
  .input-fs {
	font-size: 1rem; }
  
  .progress:before {
	display: block;
	height: 100%;
	text-align: right;
	background-color: #e1a122;
	padding-right: 1rem;
	color: white;
	position: absolute;
	left: 0;
	font-size: 0.875rem;
	top: 0;
	border-radius: inherit; }
  
  .progress-60:before {
	width: calc(60% - 1rem);
	content: "60%"; }
  
  .progress-75:before {
	content: "75%";
	width: calc(75% - 1rem); }
  
  .progress-95:before {
	width: calc(95% - 1rem);
	content: "95%"; }
  
  .fw-500 {
	font-weight: 500; }
  
  .fw-600, .menu-item>a {
	font-weight: 600; }
  
  .fw-800 {
	font-weight: 800; }
  
  .fw-100 {
	font-weight: 100; }
  
  @media (min-width: 576.6px) {
	.container {
	  max-width: 672px; } }
  
  @media (min-width: 768.6px) {
	.container {
	  max-width: 880px; } }
  
  @media (min-width: 992.6px) {
	.container {
	  max-width: 1096px; } }
  
  @media (min-width: 1200.6px) {
	.container {
	  max-width: 1300px; } }
  
  @media (min-width: 1400.6px) {
	.container {
	  max-width: 100%; } }
  
  .border-xm-top {
	border-top: 0.1px solid rgba(0, 0, 0, 0.4); }
  
  .border-1 {
	border: solid 1px rgba(0, 0, 0, 0.4); }
  
  .border-2 {
	border: solid 2px rgba(0, 0, 0, 0.4); }
  
  .border-4 {
	border: solid 4px rgba(0, 0, 0, 0.4); }
  
  .border-7 {
	border: solid 7px rgba(0, 0, 0, 0.4); }
  
  .border-left {
	border-left: 3px solid rgba(255, 255, 255, 0.3); }
  
  .border-white {
	border-color: #fff; }
  
  .border-black {
	border-color: #000; }
  
  .border-orange {
	border-color: #e1a122; }
	.border-orange-states:hover {
	  border-color: #cf8f16; }
  
  .border-none {
	border: none; }
  
  .border-offwhite {
	border-color: rgba(255, 255, 255, 0.65); }
	.border-offwhite-1 {
	  border-color: rgba(255, 255, 255, 0.2); }
  
  .border-primary {
	border: solid 1px rgba(255, 255, 255, 0.3); }
  
  .br-3 {
	border-radius: 3.4rem; }
  
  .br-xm {
	border-radius: 0.6rem; }
	.br-xm-bottom {
	  border-bottom-left-radius: 0.6rem;
	  border-bottom-right-radius: 0.6rem; }
	  .br-xm-bottom-right {
		border-bottom-right-radius: 0.6rem; }
  
  .br-sm {
	border-radius: 0.3125rem; }
	.br-sm-bottom-right {
	  border-bottom-right-radius: 0.3125rem; }
  
  .br-inherit {
	border-radius: inherit; }
  
  .br-50 {
	border-radius: 50%; }
  
  .br-none {
	border: none; }
  
  .br-top-0 {
	border-top-left-radius: 0;
	border-top-right-radius: 0; }
  
  .br-underline {
	border-bottom: solid 1px rgba(0, 0, 0, 0.4); }
	.br-underline-grey {
	  height: 1px;
	  background-color: rgba(0, 0, 0, 0.2);
	  border: none; }
  
  .d-none {
	display: none; }
	@media (max-width: 1200.5px) {
	  .d-none--xl {
		display: none; } }
	@media (min-width: 1200.6px) {
	  .d-none--xl-u {
		display: none; } }
	@media (max-width: 992.5px) {
	  .d-none--lp {
		display: none; } }
	@media (min-width: 992.6px) {
	  .d-none--lp-u {
		display: none; } }
	@media (max-width: 768.5px) {
	  .d-none--tb {
		display: none; } }
	@media (min-width: 768.6px) {
	  .d-none--tb-u {
		display: none; } }
	@media (max-width: 576.5px) {
	  .d-none--mob {
		display: none; } }
	@media (min-width: 576.6px) {
	  .d-none--mob-u {
		display: none; } }
  
  .glide-outlay:before {
	content: "";
	display: block;
	position: absolute;
	border: 0.5rem solid #e1a122;
	height: 100%;
	width: 115%;
	transform: translateX(-7%);
	bottom: -2.5rem;
	border-radius: 0.7rem; }
  
  .cr-pointer {
	cursor: pointer; }
  
  .cr-text {
	cursor: text; }
  
  .ta-resize-none {
	resize: none; }
  
  .ps-relative {
	position: relative; }
  
  .ps-absolute {
	position: absolute; }
	@media (min-width: 576.6px) {
	  .ps-absolute--mob-u {
		position: absolute; } }
	@media (min-width: 768.6px) {
	  .ps-absolute--tb-u {
		position: absolute; } }
	@media (min-width: 992.6px) {
	  .ps-absolute--lp-u {
		position: absolute; } }
  
  .ps-fixed {
	position: fixed; }
  
  .r-xm {
	right: 0.7rem; }
  
  .r-0 {
	right: 0; }
  
  .t-0 {
	top: 0; }
  
  .t-1 {
	top: 1rem; }
  
  .t-50 {
	top: 50%; }
  
  .t-negative-4 {
	top: -4rem; }
  
  .t-negative-7 {
	top: -7rem; }
  
  .l-0 {
	left: 0; }
  
  .l-50 {
	left: 50%; }
  
  .b-0 {
	bottom: 0; }
  
  .t-doublequotes {
	transform: translate(50%, -50%); }
  
  @media (min-width: 992.6px) {
	.tx-10--lp-u {
	  transform: translateX(10%); } }
  
  .tx-50 {
	transform: translateX(50%); }
  
  .tx-90 {
	transform: translateX(90%); }
  
  .tx-negative-xm {
	transform: translateX(-0.5rem); }
	.tx-negative-xm-2 {
	  transform: translateX(-0.6rem); }
  
  .tx-negative-80 {
	transform: translateX(-80%); }
  
  .tx-negative-100 {
	transform: translateX(-100%); }
	@media (min-width: 992.6px) {
	  .tx-negative-100--lp-u {
		transform: translateX(-100%); } }
  
  @media (min-width: 992.6px) {
	.tx-negative-110--lp-u {
	  transform: translateX(-110%); } }
  
  .tx-center {
	transform: translateX(-50%); }
  
  .ty-30 {
	transform: translateY(30%); }
	@media (min-width: 768.6px) {
	  .ty-30--tb-u {
		transform: translateY(30%); } }
	@media (min-width: 576.6px) {
	  .ty-30--mob-u {
		transform: translateY(30%); } }
  
  .ty-50 {
	transform: translateY(50%); }
	@media (min-width: 992.6px) {
	  .ty-50--lp-u {
		transform: translateY(50%); } }
  
  .ty-n-7r {
	transform: translateY(-7.1rem); }
  
  .ty-n-10 {
	transform: translateY(-10%); }
  
  .ty-n-20 {
	transform: translateY(-20%); }
  
  .ty-n-100 {
	transform: translateY(-100%); }
  
  .ty-center {
	transform: translateY(-50%); }
	@media (min-width: 992.6px) {
	  .ty-center--lp-u {
		transform: translateY(-50%); } }
	@media (min-width: 576.6px) {
	  .ty-center--mob-u {
		transform: translateY(-50%); } }
  
  .widget {
	left: 1rem;
	top: 1rem; }
  
  .team-member-img {
	transform: translate(-70%, 50%); }
  
  .h-300 {
	height: 18.75rem; }
  
  .h-37 {
	height: 37rem; }
  
  .h-100 {
	height: 100%; }
  
  .down-arrow {
	transform: rotateZ(90deg); }
  
  .arrow-right {
	width: 2.6rem; }
  
  .swipe-arrow__left {
	background-image: linear-gradient(to right, orange, transparent);
	clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
	border-top-left-radius: 20rem;
	border-bottom-left-radius: 20rem;
	left: -4rem; }
  
  .swipe-arrow__right {
	background-image: linear-gradient(to left, orange, transparent);
	clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
	border-top-right-radius: 20rem;
	border-bottom-right-radius: 20rem;
	right: -4rem; }
  
  .bg-default {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat; }
  
  .hero {
	background-image: url("../img/bg.png"); }
	.hero__slide-1 {
	  background-image: url("../img/Rectangle-125.png"); }
	.hero__slide-2 {
	  background-image: url("../img/Rectangle-240.png"); }
	.hero__slide-3 {
	  background-image: url("../img/Rectangle-241.png"); }
  
  .experience {
	background-image: url("../img/bg_image.png"); }
	.experience-about {
	  background-image: url("../img/bg_image_about.png"); }
  
  .btn {
	border: none;
	border-radius: 0.3125rem;
	color: #fff; }
	.btn-search {
	  background-color: transparent;
	  border: none; }
	.btn-states:hover {
	  background-color: #cf8f16; }
	.btn-states:active {
	  transform: translateY(0.1rem); }
	.btn-states-white:active {
	  transform: translateY(0.1rem); }
	.btn-form {
	  width: 9rem; }
	.btn-sm {
	  padding: 0.7rem 2.4rem; }
	.btn-left {
	  padding: 1rem 2rem 1rem 4rem;
	  border-top-left-radius: 4rem;
	  border-bottom-left-radius: 4rem;
	  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
	  left: -8.8rem; }
	.btn-right {
	  padding: 1rem 4rem 1rem 2rem;
	  border-top-right-radius: 4rem;
	  border-bottom-right-radius: 4rem;
	  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
	  background-image: linear-gradient(to left, #e1a122, transparent);
	  right: -8.8rem; }
	.btn-subscribe {
	  border-top-right-radius: 0.3125rem;
	  border-bottom-right-radius: 0.3125rem;
	  width: 8rem; }
	  @media (max-width: 576.6px) {
		.btn-subscribe {
		  border-radius: 0; } }
	.btn-play__shadow {
	  opacity: 0.5;
	  height: 1.35rem;
	  width: 1.35rem;
	  transform: scale(2.2) translate(-0.16rem, 0.16rem); }
	  .btn-play__shadow:before {
		content: "";
		display: block;
		position: absolute;
		height: inherit;
		width: inherit;
		transform: scale(1.35);
		opacity: 0.4;
		background: white;
		border-radius: inherit;
		top: 0;
		right: 0; }
  
  .box-content {
	box-sizing: content-box; }
  
  .b-shadow-primary {
	box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1); }
  
  .b-shadow-none {
	box-shadow: none; }
  
  .max-w-600 {
	max-width: 39.1875rem; }
	@media (max-width: 992.5px) {
	  .max-w-600--lp {
		max-width: 39.1875rem; } }
  
  .max-w-700 {
	max-width: 45rem; }
  
  .max-w-300 {
	max-width: 18.75rem; }
	@media (max-width: 576.5px) {
	  .max-w-300--mob {
		max-width: 18.75rem; } }
	@media (min-width: 576.6px) {
	  .max-w-300--mob-u {
		max-width: 18.75rem; } }
	@media (min-width: 768.6px) {
	  .max-w-300--tb-u {
		max-width: 18.75rem; } }
  
  .max-w-23 {
	max-width: 23rem; }
  
  .max-w-26 {
	max-width: 26rem; }
	@media (min-width: 576.6px) {
	  .max-w-26--mob-u {
		max-width: 26rem; } }
	@media (min-width: 768.6px) {
	  .max-w-26--tb-u {
		max-width: 26rem; } }
  
  .max-w-30 {
	max-width: 30rem; }
	@media (min-width: 576.6px) {
	  .max-w-30--mob-u {
		max-width: 30rem; } }
	@media (max-width: 992.5px) {
	  .max-w-30--lp {
		max-width: 30rem; } }
	@media (min-width: 768.6px) {
	  .max-w-30--tb-u {
		max-width: 30rem; } }
	@media (min-width: 992.6px) {
	  .max-w-30--lp-u {
		max-width: 30rem; } }
  
  .max-w-64 {
	max-width: 64rem; }
	@media (min-width: 1400.6px) {
	  .max-w-64--xxl-u {
		max-width: 64rem; } }
  
  .max-w-11 {
	max-width: 11rem; }
  
  .sub-menu {
	transform: translate(-1.5rem, 1.2rem);
	visibility: hidden;
	transition: 0.3s all ease-in;
	opacity: 0;
	transform: translate(-3rem, 1.2rem);
	width: 9rem; }
	.submenu li:hover a {
	  text-decoration: underline; }
  
  li:hover .submenu, .menu-item.menu-item-has-children:hover .sub-menu {
	visibility: visible;
	opacity: 1; }
  
  .mobile-dropdown {
	height: 0;
	overflow: hidden;
	opacity: 0;
	transition: 0.3s all linear; }
	.mobile-dropdown li a:hover {
	  text-decoration: underline; }
  
  li:hover .mobile-dropdown {
	height: initial;
	overflow: initial;
	opacity: 1;
	margin-top: 1rem; }
  
  .float-left {
	float: left; }
  
  .float-right {
	float: right; }
  
  .ln-1 {
	line-height: 1.7rem; }
  
  .before {
	height: 3.4rem;
	width: 3.4rem;
	background-color: rgba(255, 255, 255, 0.5);
	right: 2.87rem;
	z-index: 2; }
	.before:before {
	  border-radius: inherit;
	  content: "";
	  display: block;
	  position: absolute;
	  height: 100%;
	  width: 100%;
	  background-color: rgba(255, 255, 255, 0.2);
	  transform: scale(1.4);
	  z-index: 1; }
  
  .underline:after, .menu-item-has-children>a:after {
	content: "";
	display: block;
	position: absolute;
	background-color: #e1a122;
	height: 2px;
	width: 3.75rem;
	bottom: -0.75rem; }
  
  .underline-about:after {
	left: 33rem; }
  
  @media (min-width: 768.6px) {
	.underline-about--tb-u:after {
	  left: 33rem; } }
  
  .underline-center:after, .menu-item-has-children>a:after {
	left: 50%;
	transform: translateX(-50%); }
  
  @media (max-width: 768px) {
	.underline-center--tb:after {
	  left: 50%;
	  transform: translateX(-50%); } }
  
  .underline-white:after {
	background-color: white; }
  
  .search-img {
	width: 15rem; }
	@media (min-width: 576px) {
	  .search-img--mob-u {
		width: 15rem; } }
  
  .search-underline:after {
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 1px; }
  
  .footer-bg-img {
	background-image: url("../img/bg_image.png"); }
  
  .icon {
	font-size: 2.725rem; }
	.icon-2 {
	  font-size: 1.8rem; }
	.icon-5 {
	  font-size: 5.5rem; }
	.icon-6 {
	  font-size: 6.8rem; }
	.icon-1 {
	  font-size: 3rem; }
	.icon-xl {
	  font-size: 10rem; }
	.icon-frame {
	  border-top: thick solid white;
	  border-left: thick solid white;
	  border-bottom: thick solid white; }
	.icon-quote {
	  font-size: 5rem;
	  font-size: 5rem;
	  left: 0;
	  bottom: 0; }
	.icon-unquote {
	  font-size: 5rem;
	  font-size: 5rem;
	  right: 0;
	  top: 0; }
	.icon-double-quote {
	  left: 50%;
	  top: -5.5rem; }
	.icon-padding {
	  padding: 1.5rem 0.8rem;
	  border: thick solid white;
	  border-right: none;
	  border-radius: 2.5rem; }
  
  .modal__nav {
	z-index: 200;
	left: 0;
	top: 0;
	transform: translateX(-100%);
	transition: transform 0.2s ease-in; }
	.modal__nav--active {
	  transform: translateX(0); }
	.modal__nav-wrapper {
	  z-index: -1; }
  
  .faq-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center; }
  
  .faq-img-container {
	height: 6.25rem;
	width: 8.25rem; }
  
  .faq-btn-border {
	border: solid 1px rgba(0, 0, 0, 0.2);
	padding: 0.5rem 0.85rem;
	border-radius: 1rem; }
  
  @media (min-width: 992px) {
	.subscribe-radius-left--lp-u {
	  border-top-left-radius: 4rem;
	  border-bottom-left-radius: 4rem; } }
  
  @media (min-width: 1040px) {
	.subscribe-radius-right--65-u {
	  border-top-right-radius: 4rem;
	  border-bottom-right-radius: 4rem; } }
  
  .subscribe-btn-sm {
	border-top-right-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
	padding: 0 1rem; }
  
  .wrapper-70:after {
	content: "";
	display: block;
	background-color: rgba(32, 47, 78, 0.02);
	height: 100%;
	width: 70%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1; }
  
  .outline-none {
	outline: none; }
  
  @media (min-width: 576px) {
	.img-clone--mob-u:before {
	  content: "";
	  display: block;
	  position: absolute;
	  left: 0;
	  top: 0;
	  height: 100%;
	  width: 100%;
	  transform: translate(-12%, -12%);
	  background-color: #29395b;
	  z-index: -1;
	  border-left: 4px solid #e1a122; } }
  
  .attorney-frame-widget {
	clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
	transform: translate(-50%, -10%); }
  
  .contact__pic {
	top: 50%; }
	@media (min-width: 768.6px) {
	  .contact__pic--tb-u {
		top: 50%; } }
	.contact__pic-right {
	  right: 0;
	  transform: translate(90%, -50%); }
	  @media (min-width: 768.6px) {
		.contact__pic-right--tb-u {
		  right: 0;
		  transform: translate(90%, -50%); } }
	.contact__pic-left {
	  left: 0;
	  transform: translate(-90%, -50%); }
	  @media (min-width: 768.6px) {
		.contact__pic-left--tb-u {
		  right: 0;
		  transform: translate(90%, -50%); } }
  
  .brand-about {
	background-image: url("../img/brands.png");
	background-size: contain;
	background-position: right center; }
  
  .legal-practic {
	clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%); }
  
  .badge {
	height: 4.375rem;
	width: 4.375rem; }
	.badge-md {
	  height: 2.8rem;
	  width: 2.8rem; }
  
  .office-card:before {
	content: "";
	display: block;
	height: 100%;
	width: 106%;
	background-color: #ededef;
	position: absolute;
	left: -1.5rem;
	top: 1.5rem;
	z-index: -1; }
  
  .frame-orange {
	border: 1rem solid #e1a122; }
  
  .frame-silver:before {
	content: "";
	display: block;
	position: absolute;
	height: 113%;
	width: 107%;
	left: -1rem;
	top: -1.2rem;
	background-color: #fff;
	border: 1rem solid rgba(41, 57, 91, 0.03);
	z-index: -1; }
  
  .numb-card {
	right: 0;
	top: 30%; }
	.numb-card-practices_area {
	  top: 25%; }
  
  .circle:after {
	content: "";
	display: block;
	height: 15rem;
	width: 15rem;
	position: absolute;
	border-radius: 50%;
	right: -3rem;
	top: 7rem;
	border: 2rem solid rgba(41, 57, 91, 0.03);
	z-index: -1; }
  
  .circle-about:after {
	top: initial;
	right: initial;
	bottom: -7rem;
	left: -4rem; }
  
  .circle-contact:after {
	top: initial;
	right: -2rem;
	bottom: 0; }
  
  .signature {
	transform: rotateZ(-30deg);
	display: inline-block; }
  
  .play {
	z-index: 3; }
  
  .a-blink {
	animation: blink;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite; }
  
  .stick {
	clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
	border-top-right-radius: 4rem;
	border-bottom-right-radius: 4rem;
	transition: 0.1s all linear; }
	.stick-grid-item:before {
	  content: "";
	  display: block;
	  position: absolute;
	  width: 4px;
	  height: 100%;
	  top: 0;
	  left: 0; }
	.stick-grid-item--orange:before {
	  background-color: #e1a122; }
	.stick-2 {
	  clip-path: none; }
	.stick-container {
	  left: -18rem; }
	.stick:hover:before {
	  background-color: #163967; }
	.stick:before {
	  content: "";
	  display: block;
	  width: 4px;
	  height: 100%;
	  background-color: #e1a122;
	  position: absolute;
	  top: 0;
	  left: 0; }
	.stick-subscribe:before {
	  content: "";
	  display: block;
	  width: 4px;
	  height: 100%;
	  background-color: #e1a122;
	  position: absolute;
	  top: 0;
	  right: -1rem; }
  
  .tester:before {
	content: "";
	display: block;
	height: 9rem;
	width: 9rem;
	position: absolute;
	z-index: 1;
	border-radius: 50%;
	left: -3rem;
	bottom: 0; }
  
  .tester-orange:before {
	background-color: #e1a122; }
  
  .tester-blue:before {
	background-color: #163967; }
  
  .zi-2 {
	z-index: 2; }
  
  .zi-100 {
	z-index: 100; }
  
  .zi-105 {
	z-index: 105; }
  
  .zi-200 {
	z-index: 200; }
  
  @keyframes blink {
	0% {
	  opacity: 0; }
	50% {
	  opacity: 0.5; }
	100% {
	  opacity: 0; } }
  
  .h-45 {
	height: 45rem; }
  
  .h-vh-100 {
	height: 100vh; }
  
  .h-vw-40 {
	height: 40vw; }
	@media (min-width: 768.6px) {
	  .h-vw-40--tb-u {
		height: 40vw; } }
  
  .h-vw-60 {
	height: 60vw; }
  
  .w-60 {
	width: 60%; }
  
  .w-70 {
	width: 70%; }
  
  .w-80 {
	width: 80%; }
	@media (min-width: 576px) {
	  .w-80--mob-u {
		width: 80%; } }
  
  .w-100 {
	width: 100%; }
	@media (max-width: 992.5px) {
	  .w-100--lp {
		width: 100%; } }
	@media (max-width: 768.5px) {
	  .w-100--tb {
		width: 100%; } }
	@media (max-width: 576.5px) {
	  .w-100--mob {
		width: 100%; } }
  
  .w-90 {
	width: 90%; }
  
  .w-17r {
	width: 17rem; }
	@media (min-width: 576.6px) {
	  .w-17r--mob-u {
		width: 17rem; } }
	@media (max-width: 992.5px) {
	  .w-17r--lp {
		width: 17rem; } }
  
  .w-20r {
	width: 20rem; }
	@media (min-width: 576.6px) {
	  .w-20r--mob-u {
		width: 20rem; } }
	@media (min-width: 992.6px) {
	  .w-20r--lp-u {
		width: 20rem; } }
  
  .w-45 {
	width: 45%; }
  
  .w-48 {
	width: 48%; }
  
  .w-50 {
	width: 50%; }
  
  .overflow-hidden {
	overflow: hidden; }
  
  .overflow-auto {
	overflow: auto; }
  
  .img-scale-states {
	transition: 0.1s all linear; }
	.img-scale-states:hover {
	  transform: scale(1.15);
	  filter: brightness(0.7); }
  
  .recent-work {
	background-image: url("../img/bg_image.png"); }


.sub-menu {
	box-shadow: 0 4px 25px 0 rgb(0 0 0 / 10%);
	z-index: 105;
	position: absolute;
	border-radius: 0.3125rem;
	background-color: #fff;
	list-style-type: none;
	padding: 1rem;
	padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.menu-item-has-children a {
	position: relative;
}

.sub-menu li {
	margin-bottom: 1rem;
}

.sub-menu li a {
	font-weight: 600;
	font-family: "Mulish", sans-serif;
	text-decoration: none;
	color: #000;
}

.sub-menu .menu-item {
	margin-right: 0px;
}

.sub-menu .menu-item:last-of-type {
	margin-bottom: 0px;
}

.sub-menu .menu-item:hover a {
    text-decoration: underline;
}