.glide__butllet-homepage1 {
    height: .3rem;
    width: 2rem;
    border-radius: .2rem;
}
.glide__bullet {
    transition: .1s all linear;
}

.glide__bullet:hover,
.glide__bullet:focus {
    border: none;
    background-color: #e1a122;
}

.glide__bullet--active {
    background-color: #e1a122;
    transform: scale(1.5);
}

.glide__bullets-homepage1 {
    bottom: 10rem;
}

.glide__arrow-homepage1 {
    bottom: -5rem;
    top: initial;
    transform: translate(0);
}

.glide__arrow--left-homepage1 {
    right: initial;
    left: 40%;
}

.glide__arrow--right-homepage1 {
    left: initial;
    right: 40%;
}

.glide__arrow--right-homepage1-2 {
    left: initial;
    right: -6rem;
}

.glide__arrow--left-homepage1-2 {
    right: initial;
    left: -6rem;
}

.glide__arrow-homepage1-2 {
    top: 60%;
}

.glide__bullets-homepage1-2 {
    bottom: -3.5rem;
}

.glide__bullet-homepage1-2 {
    height: initial;
    width: initial;

}