.glide__slide-c {
    transition: .2s all ease-out;
    transform: scale(.97);  
    filter: brightness(0.4); 
}

.glide__slide--active {
    filter: brightness(1);
}
.glide__bullet-c {
    height: .8rem;
    width: .8rem;
    border: .1rem solid rgba(255, 255, 255, 0.65);
    background-color: transparent;
    padding: .12rem;
    background-clip: content-box;
}

.glide__bullet--active {
    background-color: white;
}

@media (min-width: 768.6px) {
    .glide__bullets-c {
        display: inline-flex;
        top: 50%;
        right: 1rem;
        left: initial;
        bottom: initial;
        transform: rotate(90deg) translateX(-50%);
    }
}

@media (max-width: 768.5px) {
    .glide__bullets-c {
        bottom: 5rem;
    }
}


/*

Glide bullets for homepae 1


*/